.layout {
  display: flex;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scroll general */
  font-family: 'Segoe UI', sans-serif;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}