.login-container {
  max-width: 400px;
  margin: 80px auto;
  background: #fdfdfd;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #0044cc;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #002c80;
}

.error {
  font-size: 0.8rem;
  color: #d93025;
  margin-top: 4px;
}
.register-text {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
.register-text a {
  color: #0044cc;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}